.idea
**.DS_Store
node_modules

.idea
.idea_modules/
.npm
*.log
npm-debug.log*
!/protected/runtime/.htaccess
tests/_output/*
/back/protected/runtime/*
/back/protected/config/*local.php
/back/protected/upload/*
/back/www/content/*
/back/www/assets/*
/back/www/thumbs/*
/back/www/protected/*
/back/www/docs
/back/www/runtime
/back/db1
/back/db2
/back/redis/*
/back/xhprof
/back/logs_redis
