{
  "extends": [
    "stylelint-config-standard"
  ],
  "plugins": [
    "stylelint-no-browser-hacks/lib",
    "stylelint-order"
  ],
  "rules": {
    "at-rule-empty-line-before": null,
    "at-rule-name-case": null,
    "at-rule-no-unknown": null,
    "color-named": "never",
    "indentation": 4,
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["global"]
    }],
    "selector-pseudo-element-no-unknown": [true, {
      "ignorePseudoElements": ["global"]
    }],
    "order/order": [
      "custom-properties",
      "dollar-variables",
      "at-variables",
      "declarations",
      "rules",
      "at-rules"
    ],
    "order/properties-alphabetical-order": true,
    "plugin/no-browser-hacks": true,
    "no-descending-specificity": null
  }
}
